*{
    margin: 0,
}
.dropdown{
    display: inline-block;
}

.amount{
    max-width: 25%;
}

.list-group-numbered{
    width: 65%;
}

.form-select{
    width: 150px;
    height: 40px;
}

#cash{
    margin-left: 305px;
    margin-top: 1px;
    position: absolute;

}

#deleteBtn {
    cursor: pointer;
    margin-left: 350px;
    position: absolute;
}